RewriteEngine on RewriteCond %{HTTP_HOST} ^(www.)?sarek-trisakti.com$
RewriteCond %{REQUEST_URI} !^/my-cbt/
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /my-cbt/$1 
